/*========== UNIVERSALS ==========*/
body {
  background-color: yellow;
  position: relative;
}

/*========== NAVBAR ==========*/
.navbar {
  height: 100px;
}

.navbar-header {
  width: 250px;
}

.navbar-header h2 {
  margin: 0px;
  vertical-align: text-bottom;
}

.navbar-brand>img {
  height: 50px;
}

/*========== EXAMPLES ==========*/
#about-examples {
  margin-top: 100px;
}

#examples {
  background-color: red;
  height: 1000px;
}

/*========== ABOUT ==========*/
#about {
  background-color: orange;
  height: 1000px;
}

/*========== REVIEWS ==========*/
#reviews {
  background-color: green;
  height: 1000px;
}

/*========== CONTACT ==========*/
#contact {
  background-color: blue;
  height: 1000px;
}

/*========== FOOTER ==========*/
#footer {
  background-color: purple;
  height: 100px;
}
